* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.logo {
    width: 120px;
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 14px;
    font-family: 'Segoe UI';
}

nav ul li {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.drop-icon {
    width: 12px;
}

.lang-icon {
    width: 20px;
}