* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI';
}

:root {
    --blue-button-c: #00b6d1;
    --green-button-c: #5cb85c;
    --text-c: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    margin: 0 auto;
}

.logo {
    width: 120px;
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 14px;
    /* font-family: 'Segoe UI'; */
}

nav ul li {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.drop-icon {
    width: 12px;
}

.lang-icon {
    width: 20px;
}

.ham-menu {
    display: none;
}

main {
    /* border: 1px solid orange; */
    /* height: 100vh; */
    margin: 20px auto;
}

.hero {
    /* border: 1px solid black; */
    /* height: 28vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto;
    padding: 20px 30px;
}

.hero h3 {
    font-weight: 400;
    font-size: 28px;
}

.hero h3 span {
    font-weight: 700;
}

.hero p {
    text-align: center;
}

.hero button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--blue-button-c);
    color: var(--text-c);
    font-weight: 600;
    text-transform: uppercase;
}

.card-main {
    /* border: 1px solid purple; */
    max-width: 70vw;
    margin: 30px auto;
    /* height: 72vh; */
}

.version-section {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin: 30px 0;
    /* margin-left: 100px; */
}

.version-section img {
    width: 40px;
}

.content {
    display: flex;
    align-items: first baseline;
    gap: 4px;
}

.content span {
    font-size: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 12px;
}

.card {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.buttons button {
    border: none;
    font-size: 12px;
    padding: 10px 12px;
    border-radius: 4px;
    font-weight: 550;
    text-align: center;
}

.blue {
    background-color: var(--blue-button-c);
    color: var(--text-c);
}

.green {
    background-color: var(--green-button-c);
    color: var(--text-c);
}

@media screen and (max-width: 1140px) {
    .cards {
        /* background-color: blue; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
}

@media screen and (max-width: 755px) {

    .logo {
        width: 90px;
        height: 30px;
    }

    nav ul li {
        font-size: 10px;
    }

    .cards {
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

@media screen and (max-width: 480px) {

    nav {
        gap: 200px;
    }

    .ham-menu {
        display: block;
        width: 36px;
    }

    nav ul{
       display: none; 
    }
    
    .hero h3 {
        text-align: center;
    }

    .cards {
        /* background-color: purple; */
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

/* @media screen and (max-width: 370px) {
    body {
        display: none;
    }    
} */